<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_register</servlet-name>
        <servlet-class>user_register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_login</servlet-name>
        <servlet-class>user_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_cat</servlet-name>
        <servlet-class>add_cat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_store</servlet-name>
        <servlet-class>add_store</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_pro</servlet-name>
        <servlet-class>add_pro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>img</servlet-name>
        <servlet-class>img</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>feedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_register</servlet-name>
        <url-pattern>/user_register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_login</servlet-name>
        <url-pattern>/user_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_cat</servlet-name>
        <url-pattern>/add_cat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_store</servlet-name>
        <url-pattern>/add_store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_pro</servlet-name>
        <url-pattern>/add_pro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>img</servlet-name>
        <url-pattern>/img</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
